@import "node_modules/nord/src/sass/nord.scss";

#wrapper{
  display: flex;
  flex-direction: row;
  height: 100%;
}
#members{
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
#members_title{
  text-align: center;
  height: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

#members_list{
  width: 100%;
}
.member_row{
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: solid;
  border-width: 1px;
  border-color: $nord6;
  background-color: $nord2;
  border-radius: 10px;
  margin: 5px;
}
.member_row:hover{
  margin-left: 15px;
}
#identity{
  display: flex;
  width: 100%;
  justify-content: center;
}